*.pyc
*.pdf
*.npz
*.log
*.out
*.gz
*.woff2
*.xyz
*.dat

pyqed/__pycache__/
pyqed/pyqed/__pycache__/
build/
.eggs/pytest_runner-6.0.0-py3.8.egg/EGG-INFO/RECORD
.eggs/pytest_runner-6.0.0-py3.8.egg/EGG-INFO/PKG-INFO
.eggs/pytest_runner-6.0.0-py3.8.egg/EGG-INFO/PKG-INFO
pyqed/qchem/.DS_Store
.DS_Store
pyqed/polariton/negf_leak.npz

.history/
.venv/
